<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuVCRJPFByJDPzBTjkmhOvwxb3lpSl3jw</string>
	<key>GCM_SENDER_ID</key>
	<string>992587939961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingsite.elbahaa</string>
	<key>PROJECT_ID</key>
	<string>elbahaa-18f8c</string>
	<key>STORAGE_BUCKET</key>
	<string>elbahaa-18f8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992587939961:ios:b7fc1d73ce6c768fec54a8</string>
</dict>
</plist>